<div id="community">
	<header class="community_header">
   		<div class="community_header_text">
   			<p><a href="#/communitySecond_two" >关注</a></p>
   			<p><a href="#/community"  id="comment_choose">推荐</a></p>
   			<p><a href="javascript:void(0)"  id="comment_newest">最新</a></p>
   		</div>
   </header>
   <div id="community_target">
   		<div id="community_newest">
	   		<div class="newest_list" ng-repeat="x in newest.data">
	   			<div class="newest_img">
	   				<img src="{{x.image}}" alt="" />
	   			</div>
	   			<div class="newest_text">
	   				<div class="newest_text_left">
	   					<img src="{{x.head_img}}" alt="" />
	   				</div>
	   				<!--<div class="newest_text_center">
	   					<p class="newest_text_phone">{{x.create_time_org}}</p>
	   					<p class="newest_text_time">{{x.create_time}}</p>
	   				</div>-->
	   				<div class="newest_text_right">
	   					<div class="newest_top">
	   						<p>{{x.nick}}</p>
	   					</div>
	   					<div class="newest_bottom">
	   						<p class="newest_text_time">{{x.create_time}}</p>
	   						<p class="newest_ageree">{{x.agree_count}}</p>
	   						<p class="newest_agereeimg"><img src="../img/ageree.png"/></p>	
	   					</div>
	   				</div>
	   			</div>
	   		</div>
	    </div>
    </div>
</div>