<div id="my">
    <!--主页面-->
   <div class="myHeader">
        <p>我的</p>
        <a href="#/mySecond_three"><img src="img/sz.png" class="mySet"/></a>
        <a href="#/mySecond_one"><div class="top">每个吃货都是有头有脸的，登录下吧</div></a>
        <div class="pic"><img src="img/e1.png"/></div>
    </div>
    <p class="myContiner">
        <span>作品(0)</span>
        <span>关注(0)</span>
        <span>粉丝(0)</span>
    </p>
    <a class="myContiner1" href="#/mySecond_two">
        <span>我的消息</span>
        <img src="img/jian.png" />
    </a>
    <ul class="myList">
        <li class="skip"><a href="#mySecond_one"><span>我的订单</span><img src="img/jiant.png"/></a></li>
        <li class="skip"><a href="#/mySecond_one"><span>我的红包</span><img src="img/jiant.png"/><img src="img/e.jpg"/></a></li>
        <li class="skip"><a href="#/mySecond_one"><span>我的收藏</span><img src="img/jiant.png"/></a></li>
    </ul>
    <p class="myContiner1 skip">
        <a href="#/mySecond_one">
            <span>我的缓存</span>
            <img src="img/jian.png" />
        </a>
    </p>
    <a class="myContiner2" href="#/mySecond_four">
        <span>猜你喜欢</span>
        <img src="img/jian.png" />
    </a>
    <a class="myContiner3" href="#/mySecond_five">
        <span>邀请好友</span>
        <img src="img/jian.png" />
    </a> 
</div>