<div class="myRegister">
		<div class="regHeader">
			<a class="my_jt" href="#/my" ng-click="footerShow()"><img src="img/jt.png"/></a>
			<span>登录</span>
			<a href="#/myThird_one"><span>注册</span></a>
		</div>
		<div class="regList">
			<p><input type="text" placeholder="请输入手机号码" /><img src="img/e2.png"/></p>
			<p><input type="password" placeholder="请输入您的密码" /></p>
		</div>
		<p class="myPaw">忘记密码</p>
		<input type="button" id="myBtn" value="确定" />
		<div class="myRadio">
			<input type="checkbox"/>
			<span>已阅读并同意</span><span>服务协议和隐私条款</span>
		</div>
		<ul class="myFooter">
			<li><img src="img/e3.png"/></li>
			<li><img src="img/e4.png"/></li>
			<li><img src="img/e5.png"/></li>
		</ul>
</div>