	<div class="myMessage">
		<div class="messageHader">
			<a href="#/my" ng-click="footerShow()"><img src="img/jt1.png"/></a>
			<p>我的消息</p>
		</div>
		<div class="messageWrap">
			<ul ng-click="myMove()" class="messageBanner">
				<li>私信</li>
				<li>个人消息</li>
				<li>系统消息</li>
			</ul>
			<span></span>
		</div>
		<div class="messageMain">
			<div class="my_one">
				<img src="img/body.jpg" />
				<p>登录下，勾搭掌小厨</p>
			</div>
			<div class="my_one">
				<img src="img/body.jpg" />
				<p>登录下后才能查看个人信息</p>
			</div>
			<div class="my_one">
				<img src="img/body.jpg" />
				<p>暂时还没收到消息</p>
			</div>
		</div>
		
		
	</div>