<div id="my_setThird">
		<div class="my_setHeader">
			<a href="#/my" ng-click="footerShow()"><img src="img/jt1.png"/></a>
			<p>设置</p>
		</div>
		<div class="my_setList">
			<p>推送开关</p>
			<div class="my_setPic">
				<img src="img/close.png" class="my_setIput"/>
				<img src="img/open.png" class="my_setIput1"/>
			</div>
			
		</div>
		<p class="my_setContent">
			<span>分享给好友</span>
			<img src="img/jian.png"/>
		</p>
		<ul class="my_setContent1">
			<li class="my_setContentLi"><span>关于我们</span><img src="img/jiant.png"/></li>
			<li class="my_setContentLi"><span>给我打分</span><img src="img/jiant.png"/></li>
		</ul>
		<ul class="my_setContent2">
			<li class="my_setContentLi"><span>意见反馈</span><img src="img/jiant.png"/></li>
			<li class="my_setContentLi"><span>清除缓存</span><img src="img/jiant.png"/></li>
			<li class="my_setContentLi"><span>版本更新</span><span>当前版本4.4.0</span><img src="img/jiant.png"/></li>
			<li class=""><span>社区规则</span><img src="img/jiant.png"/></li>
		</ul>
		<div class="clearfix"></div>
</div>