<div class="my_register">
		<div class="my_registerHeader">
			<a href="#/mySecond_one"><img src="img/jt.png"/></a>
			<p>注册</p>
		</div>
		<div class="my_registerList">
			<p><input type="text" placeholder="请输入手机号码" /><img src="img/e2.png"/></p>
			<p><input type="password" placeholder="请输入图形验证码" /><span></span><a href="javascript:void(0)" id="my_one">换一张</a></p>
			<p><input type="text" placeholder="请输入短信验证码" /><a href="javascript:void(0)" id="my_two">获取验证码</a></p>
		</div>
		<input type="button" id="myBtn" value="下一步" />
		
		
</div>