
   <div id="recipeSecond">
      <div class="recipeSecond_one">
         <div class="rsoHeader">
            <p class='col-xs-9'><input type="text" placeholder="请输入搜索的内容"></p>
            <p class="col-xs-3" ng-click="footerShow()"><a href="#/recipe">取消</a></p>
         </div>
         <div class="searchMany">
            <div>热门搜索</div>
            <div>
               <p>鸭</p>
               <p>酸菜鱼</p>
               <p>早餐</p>
               <p>芹菜</p>
               <p>羊肉</p>
            </div>
         </div>
      </div>
   </div>
