<div id="pay">
	<div class="indent_header">
		<a href="#/storeSecond_two" ng-click="footerShow()"><img src="../img/左箭头.png"/></a>
		<h3>确认订单</h3>
	</div>
	<div class="address">
		<p>收货地址</p>
		<img src="../img/右箭头.png"/>
	</div>
			
	<div class="price">
		<img src="../img/soup.jpg"/>
		<p><span>299</span>元  x1</p>
	</div>
	<div class="express">
		<div class="express_money">
			<ul>
				<li>
					<em>运费</em>
					<span>包邮</span>
				</li>
				<li>
					<em>支付金额</em>
					<span>299元</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="pay_money">
		<div class="wz">
			<ul>
				<li>
					<p><img src="../img/微信支付.png"/>微信支付</p>
					<img src="../img/右箭头.png" class="img_right"/>
				</li>
				<li>
					<p id="zfb"><img src="../img/支付宝.png"/>支付金额</p>
					<img src="../img/右箭头.png" class="img_right"/>
				</li>
			</ul>
		</div>
	</div>
</div>